/* Stile für die Neuseelandreise */
/* aus Google Font (Schriftstil) importiert - dadurch wird diese Schrift standardmäßig für alle Systeme verwendet*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto:wght@100&display=swap');


body {
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Monserrat';
}

main p {
    font-family: 'Roboto';
}

header {
    text-align: center;
}

img.banner {
    width: 100%;
}

/* Klasse user im HTML definiert. durch .user hier hergenommen; durch img.user - alle user formatiert*/
img.user {
    border-radius: 50%;
    margin-top: -50px;
}

main {
    background-color: white;
    max-width: 1024px;
    margin: auto;
}

/* 100% breite füllt die ganze Seite - auch auf Handy gut zu sehen; 600px ist fix immer 600px hoch*/
#map {
    width: 100%;
    height: 600px;
    border: 1px solid gray;
}

article {
    padding: 1em;
}

article p {
    text-align: justify;
    line-height: 1.3em;
}

/* alle Bilder im Figrue*/
article figure img {
    width: 100%;

}

a {
    color: black;
}

footer {
    border-top: 1px solid black;
    padding: 1em 2em 3em 2em;
}

/* footer .back --> leerzeichen wichtig*/
footer .back {
    float: left;
}

footer .next {
    float: right;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.etappenLink {
    background: white border: 1px solid black;
    padding 0.5em;
    width: 2em;
    text-align: center;
    margin-top: 2px;
    display: inline-block;
}